@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Code Pro',sans-serif;
  background-color: rgb(2, 8, 78);
  color: white;

}

.coin-app{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}

.coinlogo-bg{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-img-2.jpg");
  background-size: cover;
}

.coin-search{
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  


}

.coinflow-logo{
  width: 50%;
  margin-bottom: 10px;
  background-color: transparent;
}

.coin-text{
  font-size: 80px;
  margin-bottom: 32px;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
}

.coin-text-1{
  margin-bottom: 32px;
  text-align: center;
  font-weight: 200;
}

/* .coin-content{
  margin-bottom: 32px;
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
  padding-top: 20px;
  padding-bottom: 20px;

} */

.coin-input{
  padding-left: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background-color: white;
  color: rgb(16, 13, 13);
}

coin-input::placeholder{
  color: white;
}
